@page
@model KoiAuction.RazorWebApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" class="login-form">
    <input type="text" name="email" class="Email"><br />
    <input type="password" name="password" class="Password"><br />
    <button type="submit">Login</button>
    @if (TempData["Error"] != null)
    {
        <p style="color: red">@TempData["Error"]</p>
    }
</form>